{{ asset_add('scripts.js', 'anomaly.field_type.multiple::js/input.js', ['debug']) }}

<select
        data-placeholder="{{ field_type.config.placeholder }}"
        name="{{ field_type.input_name }}[]"
        {{ field_type.disabled ? 'disabled' }}
        class="form-control select2"
        multiple
        >

    {% for value, title in field_type.options %}

        <option value="{{ value }}" {{ value in field_type.list == field_type.value ? 'selected' }}>{{ title }}</option>

    {% endfor %}

</select>
