<select
        name="{{ field_type.getInputName() }}[]"
        class="form-control select2"
        data-placeholder="{{ field_type.config.placeholder }}"
        multiple
        >

    {% for value, title in field_type.options %}

        <option value="{{ value }}" {{ value in field_type.list == field_type.value ? 'selected' }}>{{ title }}</option>

    {% endfor %}

</select>
